body{
 margin: 0;
 padding: 0;
 background-color: #e9ebed;
 font-family: 'Lucida Grande', Tahoma, Segoe UI, San Francisco, Roboto;
}

#barra{
 height: 43px;
 background-color: #5066ae;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
}

#contingut{
 height: 2000px;
 width: 852px;
 margin: 0 auto;
 overflow: hidden;
}

#contingut #cap{
 height: 358px;
 background-color: black;
 background-image: url(img/backg.jpg);
 box-shadow: 0px 0px 1px grey;
 margin-bottom: 12px;
 border:solid 1px #DDD;
 border-radius: 3px;
}


#fotoperfil{
 height: 169px;
 width: 169px;
 position: absolute;
 background-image: url(img/photo.png);
 top: 178px;
 left: 550px;
}

#vacio{
 height: 64px;
 background-color: white;
 width: 850px;
 margin-top: 358px;
 position:relative;
}

#contingut #menu{
 float: right;
 position: relative;
 top: -201px;
 height: 43px;
 padding: 0;
 margin: 0;
 height: 43px;
 width: auto;
}

#menu li{
  margin-top: 82px;
  box-shadow: 1px 0 1px #DDD;

}

#contingut #cap h2{
 position: relative;
 top: 30px;
 left: -85px;
 color: white;
 font-family: sans-serif;
 font-size: 20px;
}

li{
 margin: 0 0 0 1px;
 float: left;
 list-style-type: none;
 background-color: white;
 display: block;
 height: 43px;
 padding: 0px 15px;
 margin-top: 102px;
}

#principal{
 overflow: hidden;
}

#esquerra {
 background-color: white;
 border-radius: 3px;
 border: solid 1px #DDD;
 height: 200px;
 width: 322px;
 margin-top: 56px;
}

#presentacio{
  height: 354px;
  margin-top: 70px;
  float: left;
  background-color: green;
  width: 100%;
  color: white;
  text-align: left;
  padding-left: 15px;
  text-decoration: none;
  overflow: hidden;
}

#amistats{
  height: 354px;
  margin-top: 20px;
  float: left;
  background-color: pink;
  width: 100%;
  color: black;
  text-align: left;
  text-decoration: none;
  overflow: auto;
}

#fotos{
  height: 354px;
  margin-top: 20px;
  float: left;
  background-color: cyan;
  width: 100%;
  color: black;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
}

#seccions{
  width: 322px;
  float: left;
  overflow: hidden;
}

.esquerra{

}

.dreta{
  width: 492px;
  height: 100px;
  float: right;
  clear: right;
}

.esquerra .dreta{
  overflow: hidden;
  font-size: 12px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px #000;
  margin-top: 12px;
  padding: 12px;
}

#seccions h3{
  background-image: url(img/lateral.png);
  background-repeat: no-repeat;
  background-position: 0 -24px;
  text-indent: 26px;
  height: 24px;
}

#presentacio h3{
  background-position: 0 0;
}

#presentacio p{
  padding-bottom: 12px;
  border-bottom: solid 1px #DDD;
}

#amistats h3{
  background-position: 0 -48;
}

#surprise h3{
  background-position: 0 -72;
}

#presentacio, #amistats, #fotos{

}
